.idea/
*.iml
*.psd
*.iml
*.psd
workspace.xml
tasks.xml
*.ini
vendor/
node_modules/


## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

###*dbconfig.php
###./website/dbconfig.php

./vendor/twitter/bootstrap/docs/components.html



