.idea/
*.iml
*.psd
*.iml
*.psd
workspace.xml
tasks.xml
*.ini
composer.phar
vendor/
node_modules/
/vendor/
/vendor/**/.git
dbconfig.php
dbconfig1.php
.DS_Store

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

###*dbconfig.php
###./website/dbconfig.php

./vendor/twitter/bootstrap/docs/components.html



